<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sust.cse.susteboard" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserAuthentication.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity
            android:name=".UserAuthentication.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity
            android:name=".NoticeUtility.IntroPage"
            android:label="@string/title_activity_intro_page"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NoticeUtility.AllNoticeList"
            android:label="@string/title_activity_all_notice_list"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".NoticeUtility.TodayNoticeList"
            android:label="@string/title_activity_today_notice_list"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NoticeUtility.AdminPage"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NoticeUtility.PostNotice"
            android:label="@string/title_activity_post_notice"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NoticeUtility.NoticeDetails"
            android:label="@string/title_activity_notice_details" >
        </activity>
        <activity
            android:name=".NoticeUtility.AllNoticeForAdmin"
            android:label="@string/title_activity_all_notice_for_admin" >
        </activity>
        <activity
            android:name=".NoticeUtility.TodayNoticeForAdmin"
            android:label="@string/title_activity_today_notice_for_admin" >
        </activity>
        <activity
            android:name=".NoticeUtility.settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
